body{
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: black;
}
.bell{
    border-radius: 50%;
    color: yellow;
}

.toast {
    position: absolute;
    bottom: 20px;
    right: -300px; /* Start hidden */
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.5s ease-in-out;
}

.show {
    right: 20px; /* Slide in */
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bell {
        height:16vw;
        width: 16vw;
    }
}

/* Medium devices (tablets, 600px to 900px) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .bell {
        height:6vw;
        width: 6vw; 
    }
}

/* Large devices (desktops, 900px and up) */
@media only screen and (min-width: 900px) {
    .bell {
        height:6vw;
        width: 6vw; 
    }
}

/* Extra large devices (large screens, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bell {
        height:4vw;
        width: 4vw;
    }
}